<!DOCTYPE html>
<html>
<head>
<title>Image Manipulation Detector</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{{url_for('static', filename='jquery-1.11.1.js')}}"></script>
<script src="{{url_for('static', filename='jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='popper.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='select2.js')}}"></script>
<script src="{{url_for('static', filename='pace.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='pace2.css')}}">
<script>


$(document).ajaxStart(function() { Pace.restart(); });

$(document).ready(function(){

	//init
	$('#submitimg').hide();
	$('#resetbutton').hide();
	$('#upload_success').hide();
	$('#viewresult').hide();
	$('#resimg').hide();
	$('.card').hide();
	
	
	$(".custom-file-input").on("change", function() {
		$('#uid').val('');
		$('#response').val('');
		$('.card').hide();
		$('#viewresult').hide()
		$('#resetbutton').hide();
		var fileName = $(this).val().split("\\").pop();
		if(fileName==''){
			$('#submitimg').hide();
			$(this).siblings(".custom-file-label").addClass("selected").html('Choose File');
		}else{
			$('#submitimg').show();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		}
	});

	Pace.track(function () {
	$('#submitimg').click(function(){
		$('.card').hide();
		$('#upload_success').hide();
		$('#viewresult').hide();
		$('#resimg').hide();
		
		var file = $("#js-upload-files")[0].files[0];
        
		var form_data = new FormData();
		form_data.set("file", file);
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(jsondata) {
                if( jsondata != null){
					obj=JSON.parse(jsondata)
					status=obj.status;
					
					if(status=='200'){
						uid=obj.uid;
						$('#upload_success').show()	
						$('#uid').val(uid);
						$('#viewresult').show();
						$('#upload_success').fadeOut(3000);
						$('#submitimg').hide();
					}else{
						alert("Oops!Some error occurred");
					}
							
			}
            },
        });
	
	});
	});
	
	Pace.track(function () {
	$('#viewresult').click(function(){
		
		$('#upload_success').hide();
		$('#resimg').hide();
		key=$('#uid').val();
		
        $.ajax({
            type: 'POST',
            url: '/result',
            data: {'key':key},
			dataType: "json",        
           
            success: function(jsondata) {
				
                if( jsondata != null){
					obj=jsondata
					status=obj.status;
					
					if(status=='200'){
						uid=obj.uid;
						result=obj.result
						msg=obj.msg
						$('#uid').val(uid);
						$('#response').val(result);
						src="/predictions/"+result
						
						$('#resimg').attr("src",src);
						$('.card-title').text(msg);
						$('#resimg').show();
						$('.card').show();
						$('#viewresult').hide();
						$('#resetbutton').show();
					}else{
						alert("Oops!Some error occurred");
					}
							
			}
            },
        });
	
	});
	
	});
	
	
	$('#resetbutton').click(function(){
		location.reload(true);
	});
});

</script>
<style>
#viewresult{
width:150px;
}
#submitimg{
width:150px;
}
#resetbutton{
width:150px;
}
#upload_success{
margin-top:40px;

}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y));
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
</style>

<body>
<input type="hidden" id="uid" name="uid" value="">	
<input type="hidden" id="response" name="response" value="">	
<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Image Manipulation Detector</h1>
          <p class="lead text-muted">Tool for detecting Copy-move and Copy-paste forgery</p>
          <p>
		  
	
            <div class="custom-file">
              <div class="form-group">
                <input type="file" name="file" id="js-upload-files" class="custom-file-input">
				<label class="custom-file-label" for="customFile">Choose File</label>
              </div>              
            </div>
		</p>
		<p>
            <button type="button" id='submitimg' class="btn btn-sm btn-primary" id="js-upload-submit">Upload Image</button>
			  <button type="button" class="btn btn-sm btn-success" id='viewresult'> View Result</button>
			
          </p>
		  <p>
		  
		  <div class="alert alert-success" role="alert" id='upload_success'>
				Upload Successful!
			</div>
			
			</p>
			<p>
			<div class="card" style="width:300px;margin:auto">
			  <img class="card-img-top" id='resimg' src="">
			  <div class="card-body">
				<h4 class="card-title">John Doe</h4>
				
			  </div>
			</div>
						
			</p>
			<p>
			<button type="button" id='resetbutton' class="btn btn-sm btn-default" >Reset</button>  
			</p>
		</div>
		
      </section>
	</main>  
	  
        
          


</body>
</head>
</html>